@import "tailwindcss";


:root {
  font-family: "wedding-gothic-atf", Sans-serif
}

i, p, h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-league-spartan), sans-serif;
}

body {
  color:white
}


.outlined-text {
  color: transparent;
  -webkit-text-stroke: 2px #FFD400; /* Chrome, Safari, Edge */
}


@layer utilities {
  .px-section {
    @apply px-6 sm:px-10 md:px-20 lg:px-40 xl:px-80;
  }
  .py-section {
    @apply py-20
  }

  .px-hero{
    @apply px-0
  }

  .py-hero{
    @apply py-0
  }

  .px-shell{
    @apply px-2 sm:px-4 md:px-6 lg:px-8 xl:px-10;
  }

  .py-shell{
    @apply py-4
  } 

}







/* Benfica color hexes */
/* 
  Yellow: #FFD400
  Red: #ED1C24
  Gray: #B1B3B6
  Green: #008047
  Blue: #0072BC


  gray for other section: #2A2A2A
*/