@import "tailwindcss";


:root {
  font-family: "wedding-gothic-atf", Sans-serif
}

i, p, h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-league-spartan), sans-serif;
}

body {
  color:white
}


.outlined-text {
  color: transparent;
  -webkit-text-stroke: 2px #FFD400; /* Chrome, Safari, Edge */
}


/* Benfica color hexes */
/* 
  Yellow: #FFD400
  Red: #ED1C24
  Gray: #B1B3B6
  Green: #008047
  Blue: #0072BC


  gray for other section: #2A2A2A
*/